In [1]:
import pandas as pd

data = pd.read_csv('../data/Power_Plants.csv')
data.shape

(10847, 34)

In [2]:
data.head(5)

,X,Y,OBJECTID,Plant_Code,Plant_Name,Utility_Name,Utility_ID,sector_name,City,County,...,source_desc,tech_desc,Source,Period,Latitude,Longitude,Bio_MW,Geo_MW,Bat_MW,Other_MW
0,-160.497222,55.339722,10058,1,Sand Point,"TDX Sand Point Generating, LLC",63560,IPP Non-CHP,Sand Point,Aleutians East,...,"Petroleum = 1.4 MW, Wind = 0.4 MW",Petroleum Liquids; Onshore Wind Turbine;,"EIA-860, EIA-860M and EIA-923",202108,55.339722,-160.497222,NaN,NaN,NaN,NaN
1,-87.356823,33.458665,10059,2,Bankhead Dam,Alabama Power Co,195,Electric Utility,Northport,Tuscaloosa,...,Hydroelectric = 53 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",202108,33.458665,-87.356823,NaN,NaN,NaN,NaN
2,-88.010300,31.006900,10060,3,Barry,Alabama Power Co,195,Electric Utility,Bucks,Mobile,...,"Coal = 1118.5 MW, Natural Gas = 1281.2 MW",Conventional Steam Coal; Natural Gas Fired Com...,"EIA-860, EIA-860M and EIA-923",202108,31.006900,-88.010300,NaN,NaN,NaN,NaN
3,-86.283056,32.583889,10061,4,Walter Bouldin Dam,Alabama Power Co,195,Electric Utility,Wetumpka,Elmore,...,Hydroelectric = 224.1 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",202108,32.583889,-86.283056,NaN,NaN,NaN,NaN
4,-85.970800,34.012800,10062,7,Gadsden,Alabama Power Co,195,Electric Utility,Gadsden,Etowah,...,Natural Gas = 130 MW,Natural Gas Steam Turbine,"EIA-860, EIA-860M and EIA-923",202108,34.012800,-85.970800,NaN,NaN,NaN,NaN

In [3]:
resources = ['hydroelectric', 'solar','wind']
data = data[data['PrimSource'].isin(resources)]

In [9]:
states = sorted(data['StateName'].unique())

In [ ]:
state_dict = {}

for state in states:
    state_data = {}
    for resource_type in resources:
        res_data = data[(data['StateName'] == state) & (data['resource_type'] == resource_type)][['Latitude', 'Longitude']].values.tolist()
        state_data[resource_type] = res_data
    state_dict[state] = state_data